<head>
  <meta charset="UTF-8">
  <title>My Website</title>
  <link rel="stylesheet" href="navbar.css"> <!-- add this line to link to your stylesheet -->
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-primary border border-5 border-primary">

  <div class="container-fluid mb-3">
    <a class="navbar-brand .navbar-text display-1 font-weight-bold" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 display-7" style="margin: 0% 37%;"> 
        <li class="nav-item">
          <a class="nav-link" href="/blogs">Blogs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/aboutus">About Us</a>
        <li class="nav-item">
            <a class="nav-link" href="/parents">Parents</a>
        <li class="nav-item">
          <a class="nav-link" href="/questions">Questions</a>
        <li class="nav-item">
          <a class="nav-link" href="/student_view">Alumni </a>
        </li>
      </ul>
      <form method="POST" action = {{url_for('search')}} class="d-flex">
        {{form.hidden_tag()}}
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search", name = "searched">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {% if current_user.is_anonymous %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login') }}">Login</a>

          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/myprofile">
              {{ current_user.gname }} 
            </a>
            
          </li>          
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
          </li>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
</nav>
