.footer {
    position: absolute;
    bottom: 0;
    background-color: #948f8f;
    color: aqua;
    font-family: Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    height: 20px;
    padding: 10px;
}

.bg-light.py-4 {
    padding: 10px 0; /* Reduce top/bottom padding */
    height: 50px; /* Reduce height */
    background-color: #333;
  }

