{% extends 'base.html' %}

{% block body %}

=======

<h1>About Us</h1>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Atlanta is a modern and fully responsive Template by WebThemez.">
	<meta name="author" content="webThemez.com">	
	<title>About Us Page</title>
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				
				
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li><a href="index.html">Home</a></li>
					<li class="active"><a href="about.html">About</a></li>
					<li><a href="services.html">Services</a></li>
					<li><a href="portfolio.html">Portfolio</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="sidebar-right.html">Right Sidebar</a></li>
							<li><a href="#">Dummy Link1</a></li>
							<li><a href="#">Dummy Link2</a></li>
							<li><a href="#">Dummy Link3</a></li>
						</ul>
					</li>
					<li><a href="contact.html">Contact</a></li>
					
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div> 
	<!-- /.navbar -->

	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">
		<div class="row">
			
			<!-- Article main content -->
			<article class="col-sm-8 maincontent">
				<header class="page-header">
					
				</header>
				<h3>Our Team</h3>
				<p>Isaiah, Daniel, Aidan, and Ruby are four Oakland Technical High School students in the Computer Science Academy, hoping to make the college application and decision process easier for rising seniors at Tech. As four seniors who have been through the application process, we know the importance of researching schools and understanding as much about the school as possible to help decide which university will be best fit. We aim to reduce the stress and uncertainty many high school students feel by providing them with a forum where they can receive advice from Oakland Tech alumni who have already been through the process and know the best way to go about it, a great way to gain realistic information about each school and individual experiences.</p>
				<h3>Project Purpose</h3>
				<p>Connect current Tech students with Tech alumni who have graduated and are now in college. Students will be able to discuss any topic they want with alumni who can provide insight on their current life at university and reflect back on their experiences in high school. Alumni are free to reflect on what they did well or would have changed about their Oakland Tech experience, such as if their course load was challenging enough, if they joined and valued specific clubs, if they used study habits that worked well, and more. It is also important for current Tech students to learn about alumni’s current experiences and better prepare themselves for what they want and expect from their personal experience at university. This includes what they like or dislike about things such as meal plans, housing, locations on campus, or their current major. </p>
				<h3>Development Roles</h3>
				<p>Isaiah Goldstein  -  Front End Development <br>  Daniel Bason  -  Back End Development <br> Aidan Fuller  -  User and Design Development <br> Ruby Mechanic  -  Project Management</p>
			</article>
			<!-- /Article -->
			
			<!-- Sidebar -->
			
			<!-- /Sidebar -->

		</div>
	</div>	<!-- /container -->
	
	

		<div class="footer2">
			<div class="container">
				<div class="row">
					
					<div class="col-md-6 panel">
						<div class="panel-body">
							<p class="simplenav">
								<a href="index.html">Home</a> | 
								<a href="about.html">About</a> |
								<a href="services.html">Services</a> |
								<a href="portfolio.html">Portfolio</a> |
								<a href="contact.html">Contact</a> 
							</p>
						</div>
					</div>

					<div class="col-md-6 panel">
						<div class="panel-body">
							
						</div>
					</div>

				</div> <!-- /row of panels -->
			</div>
		</div>

	</footer>	
		




	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="assets/js/headroom.min.js"></script>
	<script src="assets/js/jQuery.headroom.min.js"></script>
	<script src="assets/js/custom.js"></script>
</body>
</html>

<!--
Copyright &copy; 2014. Template by <a href="http://webthemez.com/" rel="develop">WebThemez.com</a> -->
{% endblock %}