{% extends 'base.html' %}

{% block body %}

<div class="container">
  <h1>College Students</h1>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>College</th>
        <th>State</th>
        <th>Major</th>
      </tr>
    </thead>
    <tbody>
      {% for user in college_students %}
      <tr>
        <td>{{ user.fname}}</td>
        <td>{{ user.lname}}</td>
        <td>{{ user.college }}</td>
        <td>{{ user.state }}</td>
        <td>{{ user.major }}</td>
        <td>{{ user.</td>
        
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
