<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<h1>Welcome to your inbox, {{fname}}!</h1>
<div class="message-container">
    
</div>

<script type="text/javascript" charset="utf-8">
  // Connect to the SocketIO server
  var socket = io.connect('http://' + document.domain + ':' + location.port);

  // Handle incoming messages
  socket.on('private_message', function(data) {
    var message = data['message'];
    var messages = document.getElementById('messages');
    var p = document.createElement('p');
    p.innerHTML = message;
    messages.appendChild(p);
  });

  // Send a message to the server
  function sendMessage() {
    var message = document.getElementById('message').value;
    var recipient = document.getElementById('recipient').value;
    socket.emit('private_message', {'message': message, 'recipient': recipient});
  }
</script>

{% endblock %}

  