<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<style>
    h1 {
        font-size: 70px

    }
    h2 {
        font-size: 30px
    }
    body {
        font-family: 'Times New Roman', Times, serif;
        background-size: cover;
        color: white;
        background-color: black;
    }
  </style>
<center><h1>Welcome to the Website!</h1></center><br>

<h2>The purpose of this website is to connect former tech alumni with current students. By doing so, we hope to give students access to information about colleges that they may not be able to get elsewhere. Students will be able to see where current tech college students are and where former students went. They can ask questions, talk directly to college students, and to other high schoolers.</h2>

{% endblock %}