<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color:  #ede7e1;
      
    }
    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 50px 20px;
        text-align: center;
    }
    h1 {
        font-size: 48px;
        margin-bottom: 20px;
    }
    h2 {
        font-size: 24px;
        line-height: 1.5;
        margin-bottom: 40px;
    }
</style>

<div class="container">
    <h1 class="textxl">Welcome to AlumniConnect!</h1>
    <h2 class="font-mono text 2xl">The purpose of our website is to connect former tech alumni with current students. By doing so, we hope to give students access to real and first-hand information about colleges that they may not be able to get elsewhere. Students will be able to see where current tech college students are and where former students went. They can ask questions, talk directly to college students, and to other high schoolers.</h2><br>
    <h3></h3>
</div>

{% endblock %}