{% extends 'base.html' %}

{% block body %}
<div class="container">
	<section class="goal-section">
		<h1 class="text-xl">Parents Page</h1>
		<h2>Goal</h2>
		<p>Dear Parents, <br><br> This website is meants to help connect oakland technical high school students with alumni. We hope that by doing so, students can get a more indepth look at certain colleges and ask questions directly to college students. Although we welcome parents, we hope that this website will be a tool primarily for students.  </p>
	</section>

	<section class="background-section">
		<h2>Background</h2>
		<p>As it says in the About Us Page, we're current Oakland Tech seniors who wish that there could have been a college research tool related to our school.</p>
	</section>

	<section class="contact-section">
		<h2>Contact Information</h2>
		<ul>
			<li>Name: John Doe</li>
			<li>Email: john.doe@example.com</li>
			<li>Phone: 555-1234</li>
			<li>Website: www.johndoe.com</li>
		</ul>
	</section>
</div>
{% endblock %}
