{% extends "base.html" %}

{% block body %}
    <h1>Register</h1>
        <form action="" method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <label>{{ form.fname.label }} {{ form.fname(size=64) }}</label><br>
            {% for error in form.fname.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br><br>
            <label>{{ form.lname.label }} {{ form.lname() }}</label><br>
            {% for error in form.lname.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br><br>
            <label>{{ form.role.label }} {{ form.role() }}</label><br>
            {% for error in form.role.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br><br>
            <label>{{ form.image.label }} {{ form.image() }}</label><br>
            {% if current_user.image %}
                <img class="img-thumbnail" width="100" src="data:image;base64,{{base64encode(current_user.image.read())}}"><br>
            {% else %}
                <img class="img-thumbnail" width="100" src="/static/bdog.png"><br>
            {% endif %}<br>
            {% for error in form.image.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br><br>
            <a href="/mycollege/edit" class="btn btn-primary">College Form</a><br><br>
            {{ form.submit() }}
        </form>
        
        
        
        
        
        
{% endblock %}
