{% extends 'base.html' %}

{% block body %}
<h1 class="display-1 d-flex align-items-center justify-content-between">
    My Profile
    <a href="/myprofile/edit">
        <img width="40" src="/static/edit.png" alt="Edit profile">
    </a>
    <a href="/message">
        <img width="40" src="/static/inbox.png" alt="Inbox">
    </a>
    <a href="/collegeform">
        <img width="40" src="/static/college.png" alt="Edit College">
    </a>
</h1>
<div class="row">
    <div class="col-3">
        {% if current_user.image %}
            <img class="img-thumbnail img-fluid" src="data:image;base64,{{base64encode(current_user.image.read())}}" alt="Profile image">
        {% else %}
            <img class="img-thumbnail" width="100" src="/static/bdog.png" alt="Default profile image">
        {% endif %} 
    </div>
    <div class="col display-5">
        {% if current_user.fname and current_user.lname %}
            <p><strong>Name:</strong> {{current_user.fname}}  {{current_user.lname}}</p>
            <p><strong>Role:</strong> {{current_user.role}}</p>
            <p><strong>Email:</strong> {{current_user.email}}</p>
            {% if current_user.role == 'College Student' %}
                
            
                <br><p><strong>College:</strong> {{college.name}}</p>
                <p><strong>State:</strong> {{college.state}}</p>
                <p><strong>Major:</strong> {{college.major}}</p>
                <p><strong>Tech Graduation Year:</strong> {{college.tech_grad_year}}</p>
                <p><strong>Former Academy:</strong> {{college.tech_academy}}</p>
            {% endif %}
        {% else %}
            <p><strong>Google User Name:</strong> {{current_user.gname}}</p>
            <p><strong>Email:</strong> {{current_user.email}}</p>
        {% endif %}
    </div>
    
</div>
{% endblock %}
