
{% extends 'base.html' %}

{% block body %}
<head>
    <meta charset="UTF-8">
    <title>Question Forum</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col">
        <h1 class="display-4 mb-4">All Questions</h1>
      </div>
      <div class="col-auto">
        <a href="/question/new" class="btn btn-primary btn-sm" role="button">New Question</a>
      </div>
    </div>

{% if questions %}
      <div class="row mb-4">
        <div class="col-2">
          <h3 class="h6">Date</h3>
        </div>
        <div class="col-2">
          <h3 class="h6">User</h3>
        </div>
        <div class="col">
          <h3 class="h6">Subject</h3>
        </div>
        <div class="col-2">
          <h3 class="h6">Actions</h3>
        </div>
      </div>

      {% for question in questions %}
        <div class="row border-bottom mb-4">
          <div class="col-2">
            <span class="text-muted">{{ moment(question.create_date).calendar() }}</span>
          </div>
          <div class="col-2">
            <span>{{ question.author.fname }} {{ question.author.lname }}</span>
          </div>
          <div class="col">
            <a href="/question/{{ question.id }}" class="text-decoration-none">{{ question.subject }}</a>
          </div>
          {% if question.author == current_user %}
            <div class="col-2">
              <form action="/question/delete/{{ question.id }}" method="post">
                <button type="submit" class="btn btn-sm btn-danger">Delete</button>
              </form>
              <form action="/question/edit/{{ question.id }}" method="post">
                <button type="submit" class="btn btn-sm btn-success">Edit</button>
              </form>
            </div>
          {% else %}
            <div class="col-2"></div>
          {% endif %}
        </div>
      {% endfor %}
{% else %}
      <p>No Questions</p>
{% endif %}
  </div>
{% endblock %}
