{% extends "base.html" %}

{% block body %}
  <div class="container">
    <h1 class="mb-4">College Students</h1>
    <table class="table">
      <thead>
        <tr>
          
          
          <th>Name</th>
          <th>Email</th>
          <th>College Name</th>
          <th>Tech Graduation Year</th>
          <th>Location</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for student in students %}
          <tr>
            <td><a href="/colleges/{{ student.id }}">{{ student.fname }} {{ student.lname }}</a></td>
            <td>{{ student.email }}</td>
            {% for college in student.colleges %}
              {% if loop.first %}
              <td>{{ college.name }}</td>
              <td>{{ college.tech_grad_year }}</td>
              <td>{{ college.state }}</td>
                
            {% else %}
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>{{ college.name }}</td>
                  <td>{{ college.tech_grad_year }}</td>
                  <td>{{ college.state }}</td>
                  <th>Actions</th>
                </tr>
              {% endif %}
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
